.cart-product-item-container{
    margin-top: 10px;
    background-color: rgb(206, 193, 193);
    padding: 10px;
}

.cart-product-item-container button{
    color: black;
    border: none;

    width: 100px;
    padding: 10px;

    background-color: rgb(230, 226, 226);
}

.cart-product-item-container button:hover{
   
    
    background-color: rgb(206, 193, 193);
}