.cart-display-container{
    position: absolute;

    display: flex;
    flex-direction: column;

    background-color: rgb(230, 226, 226);

    padding: 10px;
}

.cart-display-container button{
    color: black;
    border: none;

    width: 100px;
    padding: 10px;

    background-color: rgb(206, 193, 193);
}

.cart-display-container button:hover{
   
    background-color: rgb(230, 226, 226);
}

.cart-display-button-container{
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart-display-sum-container{
    padding: 10px;
}