.searchbar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;

    margin-top: 10px;
}

.searchbar-container button{
    background-color: rgb(230, 226, 226);
    color: black;
    border: none;

    margin-left: 10px;

    padding: 10px;
    width: 150px;
}

.searchbar-container button:hover{
    background-color: rgb(206, 193, 193);
}

.searchbar-container input{
    width: 300px;
}

.searchbar-container select{
    background-color: rgb(230, 226, 226);
    border: none;
    margin-left: 4px;
}

